/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #eaeaea;
}

a {
    text-decoration: none;
    color: inherit;
}

.banner .main_cover {
    background: url('../images/cover.png');
    height: 465px;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.banner .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 43px;
    height: 62px;
}

.banner span{
    display: block;
    background: #2196f3;
    height: 20px;
}

.artist_list {
    box-sizing: border-box;
    padding: 10px 30px;
}

.artist_list .artist {
    display: block;
    height: 290px;
    background-size: cover !important;
    margin-bottom: 20px;
    position: relative;
}

.artist_list .artist div {
    background-color: #2196f3;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.artist_list h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0;
}

header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 33px;
    border-bottom: 1px solid #2196f3;
    color: #949494;
}

.artist_bio {
    box-sizing: border-box;
    padding: 10px 30px;
}

.artist_bio .avatar span {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    background-size: cover !important;
}

.artist_bio h3 {
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

.artist_bio .bio_text {
    font-size: 1.1rem;
    font-weight: 100;
}

.album_list {
    margin: 20px;
}

.album_list:after {
    clear: both;
    display: table;
    content: '';
}

.album_list > img {
    float: left;
    width: 50%;
}
